body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Rochester";
  src: local("Rochester"), url(./fonts/Rochester.ttf) format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url(./fonts/Avenir.otf) format("truetype");
}

@font-face {
  font-family: "FontAwesomeSolid";
  src: local("Avenir"), url(./fonts/FontAwesomeSolid.otf) format("truetype");
}
