.image-profile {
  margin-right: 30px;
  border-radius: 5px;
}

.my-profile {
  font-family: Avenir;
  font-size: 36px;
  font-weight: 700;
}

.judul-title {
  color: #cd2e71;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 700;
}

.isi-profile {
  color: #616161;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.judul-film-order {
  font-family: Avenir;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 10px;
}

.tanggal-order-film {
  font-family: Avenir;
  font-weight: 900;
  font-size: 9px;
  margin-bottom: 10px;
}

.profile-harga-film {
  font-family: Avenir;
  font-weight: 900;
  font-size: 10px;
  color: #cd2e71;
}

.profile-status-film {
  font-size: 10px;
  font-weight: 500;
  background-color: #beffd0;
  padding: 3px 20px;
  border-radius: 5px;
  color: rgb(34, 121, 0);
}

.profile-status-pending {
  font-size: 10px;
  font-weight: 500;
  background-color: rgb(255, 254, 218);
  padding: 3px 20px;
  border-radius: 5px;
  color: rgb(109, 109, 0);
}
